### IDEs ###
/.idea/
/.vscode/

### macOS ###
# General
.DS_Store
._*
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

### Windows ###
Thumbs.db
[Dd]esktop.ini

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.env
.venv/